/*
IF YOU'RE NOT FAMILIAR WITH CSS
If you aren't familiar/comfortable with CSS, then I'd highly suggest checking out https://www.w3schools.com/css/default.asp
I use their database of information on a regular bases, and it can help you get the exact look you want on this
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700;800&family=Montserrat:wght@100;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
    overflow: hidden;
}

#cs {
    width: 100%;
    padding: 0.5em 0;
    font-size: 5em;
    line-height: 1.6em;
    letter-spacing: 1px;
    position: absolute;
    bottom: 0;
    text-shadow: 3px 3px 4px black;
    text-transform: uppercase;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8) 5%,
        rgb(63, 61, 61) 20%
    );
    /* If too dark, try this
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 1%, rgb(255, 255, 255) 20%);
    */
}

.ctw {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: white;
  text-shadow: 0px;
  width: 96%;         
  padding: 0em 0.5em;
  font-size: 5em;
  line-height: 0.5em;
  letter-spacing: 1px;
  position: absolute;
  bottom: 0;
  text-transform: none;
    /* With External Image 
  heigth: 30.3%;
    */
    
}

/* ADDED NEW for "Call to worship" Section */
#title{
  background-color: black;
  display: inline-flex;
  color: white;
  font-weight:bolder;
  margin-left: 30px;
  padding-left: 5px;
  width: 17%;
  justify-content: center;
}

#verse{
  /* border: 2px solid green; */
  color: black;
  font-weight: 600;
  padding: 0px 5px;
  background-color: rgba(255, 255, 255, 0.65);
  margin-bottom: 20px;
}

.httpTrigger {
    display: flex; /* Enables flexbox layout */
    height: 50vh; /* Sets the height to half of the viewport height */
    width: 100vw; /* Sets the width to full viewport width */
}

/* Styles for both the camera and vmix divs */
.httpTrigger > div {
    width: 50%; /* Each child takes up half the width */
    height: 100%; /* Child height matches the parent container */
    box-sizing: border-box; /* Ensures padding and border are included in the width and height */
}
